
.main-container {
    width: 95%;
    margin: auto;
}


.header {
    width: 100%;
    height: 400px;
    background-image: url(../img/panama.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-item {
    display: flex;
    list-style: none;
    margin: 20px;
}

.flex-item li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 20px;
    transition: 300ms;
}

/* Contenido*/

.content {
    width: 100%;
    height: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content .articles {
    width: 60%;
    height: 250px;
    margin: 30px;
   
}

.content .articles h2 {
    text-align: center;
    margin: 10px;
    color: #444;
    font-size:30px;
    
}

.content .articles p {
    text-align: justify;
    margin: 3px;
    color: #444;
       
}

.content .image{
   
    margin:15px;
    box-shadow: 0px 1px 12px 4px rgba(122,119,119,0.3);
    -webkit-box-shadow: 0px 1px 12px 4px rgba(122,119,119,0.3);
    -moz-box-shadow: 0px 1px 12px 4px rgba(122,119,119,0.3);
    
}
.content .image > img{
    height:100%;
    
}

.title_personal , .sub_titlePersonal {
    text-align:center;
    font-size:40px;
    margin:30px;
}
.sub_titlePersonal{
    font-size:25px;   
}
.personal{
    
    width:100%;
    height:400px;
    margin:20px 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
    
}

.personal .card{
    border:1px solid #ccc;
    border-radius: 5px;
    width:25%;
    height:350px;
}
.personal .card > img{
   width:60%;
   display:block;
   margin:10px auto;
}
.personal .card .nombre{
    text-align:center;
    font-size: 20px;
  
}
.personal .card .descripcion{
    text-align:center;
    font-size: 18px;
}


.clip{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:500px;
    margin:30px 0px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.clip video{
max-height: 500px;
width:auto;

}

.clip .clip_content{
    
    margin:0px auto;
    padding:5px;
}

.clip .clip_content .services{
    color:#fff;
    letter-spacing:2px;
}

.titles_form{
    
    width:100%;
    height:150px;
    margin:50px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titles_form .titleF{
    font-size: 45px;
}
.titles_form .titleF > span{
    font-size: 60px;
    font-weight: bold;
    color:#f2e90c;
    text-shadow: 1px 1px 5px #444;;
}
.formulario{
   box-shadow: 1px 1px 10px #ccc;;
    width:100%;
    height:450px;
    margin:20px auto;
    padding:5px;

}

.formulario form{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    
    
}
.formulario > form > label{
    margin:0px 10px;
}
.formulario > form > input{
    width:320px;
    height:35px;
}
.formulario > form > textarea{
    margin:50px auto;
}

.formulario button{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;;
    margin:auto;
    width:150px;
    height:40px;
    background-color:#316ff4;
    color:#fff;
}

/*border:1px solid #000;*/